/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

:root {
  --brand-primary: #2563eb;
  --brand-secondary: #1e293b;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
